.pageContainer {
    background-color: #F4F9FA;
}

/*/////////////////////////name part/////////////////////////*/

.firstViewContainer {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nameContainer {
    font-size: 50px;
    color: #2C3879;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.animationContainer {
    font-size: 40px;
    color: #2C3879;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 10px;
}

.animation {
    font-size: 40px;
    color: #52afc9;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.animation:after {
    content:"";
    animation: spin 10s linear infinite;
}

@keyframes spin {
    0% {content:"|";}
    2% {content:"s|";}
    4% {content: "st|";}
    6% {content: "stu|";}
    8% {content: "stud|";}
    10% {content: "stude|";}
    12% {content: "studen|";}
    14% {content: "student|";}
    16% {content: "student.|";}
    18% {content: "student|";}
    20% {content: "studen|";}
    22% {content: "stude|";}
    24% {content: "stud|";}
    26% {content: "stu|";}
    28% {content: "st|";}
    30% {content: "s|";}
    32% {content: "|";}
    34% {content: "|";}
    36% {content: "c|";}
    38% {content: "co|";}
    40% {content: "cod|";}
    42% {content: "code|";}
    44% {content: "coder|";}
    46% {content: "coder.|";}
    48% {content: "coder|";}
    50% {content: "code|";}
    52% {content: "cod|";}
    54% {content: "co|";}
    56% {content: "c|";}
    58% {content: "|";}
    60% {content: "|";}
    62% {content: "d|";}
    64% {content: "de|";}
    66% {content: "des|";}
    68% {content: "desi|";}
    70% {content: "desig|";}
    72% {content: "design|";}
    74% {content: "designe|";}
    76% {content: "designer|";}
    78% {content: "designer.|";}
    80% {content: "designer|";}
    82% {content: "designe|";}
    84% {content: "design|";}
    86% {content: "desig|";}
    88% {content: "desi|";}
    90% {content: "des|";}
    92% {content: "de|";}
    94% {content: "d|";}
    96% {content: "|";}
    98% {content: "|";}
    100% {content: "|";}
  }

/*/////////////////////////about me and image part/////////////////////////*/

.aboutContainer {
    height: 50vh;
    display: flex;
    justify-content: space-evenly;
}

.aboutContainer .imageContainer {

}

.image1 {
    height: auto;
    width: 100%;
    max-width: 600px;
}

.aboutContainer .textContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.aboutContainer .textContainer .titleContainer {
    font-size: 30px;
    font-weight: bold;
    padding: 10px;
    color: #2C3879;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.aboutContainer .textContainer .paragraphContainer {
    font-size: 20px;
    color: #2C3879;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/*/////////////////////////skills part/////////////////////////*/

.skillsContainer {
    height: 50vh;
}

.skillsContainer .titleContainer {
    font-size: 30px;
    font-weight: bold;
    color: #2C3879;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.iconContainer {
    display: flex;
    align-items: center;
}

.frontEndSkillsContainer {
    border: solid 1px #2C3879;
}

.miscContainer {
    border: solid 1px #2C3879;
}

/*/////////////////////////featured projects part/////////////////////////*/

